@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

:root{
    --maincolor: #9955da;
}

*::selection{
    background: var(--maincolor);
    color: #fff;
}

html::-webkit-scrollbar{
    width: 1.3rem;
}

html::-webkit-scrollbar-track{
    background: #555;
}

html::-webkit-scrollbar-thumb{
    background: var(--maincolor);
}

body{
    background: #eee;
}

header{
    width: 100%;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2.5rem 7%;
}

header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: #555;
}

header img{
    height: 2rem;
    margin-right: 1rem;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin-left: 2.5rem;
}

header nav ul li a{
    color: #333;
    font-size: 1.3rem;
}

header nav ul li a:hover{
    color: var(--maincolor);
    border-bottom: .2rem solid var(--maincolor);
    padding: 1rem 0;
}

section{
    min-height: 50vh;
    padding: 12rem 7% 0;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#home .image{
    flex: 1 1 20rem;
}

#home .image img{
    width: 100%;
}

#home .content{
    flex: 1 1 30rem;
    padding-left: 3rem;
}