* {
    font-family: 'Inter', sans-serif;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

div .head{
    display:inline ;
}

header ul{
    display:inline;
}

header li{
    display:inline;
    list-style: none;
}

div .title_image{
    height: 150px;
}
