@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --blue: #04436e;
    --purple: #902094;
    --black: #1b1b1b;
    --yellow: #cabe11;
    --sidesmargin: 19%; 
    --subtitleheight: 350px;
}

.head{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--blue);
    height: 50px;
    padding: 0 var(--sidesmargin);
}

.tel{
    color: #fff;
    font-weight: bold;
    font-size:12px;
}

header li{
    display: inline;
}

div .btn{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 22px;
    height: 22px;
    margin: 0px;
}

#blue{
    background-color: var(--main);
}

#purple{
    background-color: var(--purple);
}

#black{
    background-color: var(--black);
}

#yellow{
    background-color: var(--yellow);
}

body{
    background: url('images/bg.png') center 100% repeat;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 var(--sidesmargin);
    height: 110px;
    justify-content: flex-end;
    color: #1f699b;
}

.subtitle{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: var(--subtitleheight);
}

.sides{
    width: var(--sidesmargin);
    height: 100%;
    background-color: rgba(222,222,222,0.4);
}

.title_image{
    height: var(--subtitleheight);
    width: 62%;
    /* background: url('images/slideshow1.jpg') no-repeat;
    background-size: cover; */
}

.title_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    margin: 0 var(--sidesmargin);
}

.articles{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 600px;
    /* align-content: stretch; */
    align-items: stretch;
}

.post{
    width: 29%;
}
