@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap'); */

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --blue: #04436e;
    --purple: #902094;
    --black: #1b1b1b;
    --yellow: #cabe11;
    --sidesmargin: 17%;
    --subtitleheight: 220px;
}

.cnt-column{
    width: var(--mainWidth);
}

.head,footer{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--blue);
    height: 35px;
    padding: 0 var(--sidesmargin);
}

.title h1{
    font-size: 26px;
    font-weight: 500;
}

.tel{
    color: #fff;
    font-weight: 600;
    font-size:10px;
}

header li{
    display: inline;
}

div .btn{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    margin: 0px;
}

#blue{
    background-color: var(--blue);
}

#purple{
    background-color: var(--purple);
}

#black{
    background-color: var(--black);
}

#yellow{
    background-color: var(--yellow);
}

body{
    background: url('images/bg.png') center 100% repeat;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 var(--sidesmargin);
    height: 80px;
    justify-content: flex-end;
    color: #1f699b;
}

.subtitle{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: var(--subtitleheight);
}

.sides{
    width: var(--sidesmargin);
    height: 100%;
    background-color: rgba(222,222,222,0.4);
}

.title_image{
    height: var(--subtitleheight);
    width: 66%;
}

.title_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    margin: 0 var(--sidesmargin);
}

.articles{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 350px;
}

.post{
    width: 28%;
    font-size: 10px;
    line-height: 13pt;
    font-weight: 300;
}

.post h3{
    margin: 15px 0;
    color: #1f699b;
    font-weight: 400;
}

.contacts{
    margin: 0 var(--sidesmargin);
}

.contacts h3{
    margin: 30px 0;
    font-weight: 400;
}

.persons{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.person{
    position: relative;
    width: 32%;
    height: 220px;
    background-color: #e2e2e2;
    text-align: center;
    margin: 20px 0;
    color: var(--blue);
}

.person h4,.contacts h3{
    color: #1f699b;
}
.person h4{
    margin-top: 20%;
}

.personImg{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.personImg :hover{
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
}

.person img{
    width:60%;
    object-fit: cover;
}

.personInfo {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 300;
}

.personInfo p{
    margin: 5px 0;
}

.persButton{
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
    background: #999999;
    color:#fff;
    font-size: 10px;
    font-weight: 500;
    padding: 2% 20%;
}

.bottom{
    height: 150px;
    width: 100%;
    background: url('images/bg2.png') center 100% repeat;
    object-fit: fill;
}
.bottomBox{
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    opacity: 0.8;
}

.form{
    text-align: center;
    color: #fff;
}

.form p,h3{
    margin: 5px;
    font-weight: 300;
}

.form h3{
    padding-top: 20px;
}

.inputs{
    display:inline-block;
    height: 35px;
    padding: 0px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--blue);
}

footer{
    height: 50px;
    color: #fff;
    font-size: 13px;
} 

footer .left{
    font-size: 10px;
}

.socialMedia img{
    height: 20px;
    width: 20px;
    object-fit: cover;
    object-position: 0 0;
} 

.socialMedia img:hover{
    height: 20px;
    width: 20px;
    object-fit: cover;
    object-position: 0 -20px;
} 

@media (max-width: 1500px){
    .articles{
        height: 420px;
    }
}

@media (max-width: 1200px){
    .articles{
        height: 480px;
    }
}

@media (max-width: 900px){
    .articles{
        height:700px;
    }

    .post{
        width: 45%;
    }

    .person{
        width: 100%;
    }

    .person img{
        width:40%;
    }

    .person h4 {
        margin-top: 15%;
    }
}

@media (max-width: 600px){

    .title h1{
        font-size: 20px;
    }

    .articles{
        height:fit-content
    }

    .post{
        width: 90%;
    }

    .person{
        width: 100%;
    }

    .bottom{
        height: fit-content;
    }

    .inputs{
        display:block;
        margin: auto;
    }
}
